{
  "serverInfo": {
    "host": "ACTIVEMQ_JMX_HOST",
    "port": "ACTIVEMQ_JMX_PORT",
    "numQueryThreads": 2
  },
  "queryInfos": [
    {
      "obj": "org.apache.activemq:type=Broker,brokerName=localhost",
      "resultAlias": "sdamq.broker",
      "attr": [
        "AverageMessageSize",
        "CurrentConnectionsCount",
        "JobSchedulerStoreLimit",
        "JobSchedulerStorePercentUsage",
        "MaxMessageSize",
        "MemoryLimit",
        "MemoryPercentUsage",
        "MinMessageSize",
        "StoreLimit",
        "StorePercentUsage",
        "TempLimit",
        "TempPercentUsage",
        "TotalConnectionsCount",
        "TotalConsumerCount",
        "TotalDequeueCount",
        "TotalEnqueueCount",
        "TotalMessageCount",
        "TotalProducerCount"
      ]
    }
  ]
}