{
  "serverInfo": {
    "port": "JMX PORT",
    "host": "localhost",
    "numQueryThreads": 2
  },
  "queryInfos": [
    {
      "obj": "MBEAN PATH",
      "resultAlias": "MYAPP.MYSUBYSTEM.PREFIX",
      "attr": [
        "MBEAN ATTRIBUTE 1",
        "MBEAN ATTRIBUTE 2",
        "MBEAN ATTRIBUTE 3"
      ]
    },
    {
      "obj": "MBEAN 2 PATH",
      "resultAlias": "MYAPP.MYSUBYSTEM.PREFIX",
      "attr": [
        "MBEAN ATTRIBUTE"
      ]
    }
  ]
}