{
  "serverInfo": {
    "port": "HBASE_THRIFT_JMX_PORT",
    "host": "HBASE_THRIFT_JMX_HOST",
    "numQueryThreads": 2
  },
  "queryInfos": [
    {
      "obj": "Hadoop:service=HBase,name=Thrift,sub=ThriftOne",
      "attr": [
        "callQueueLen",
        "SlowThriftCall_mean",
        "TimeInQueue_mean",
        "ThriftCall_mean",
        "BatchGet_mean",
        "BatchMutate_mean"
      ],
      "resultAlias": "sdhbase.Thrift.ThriftOne"
    },
    {
      "obj": "Hadoop:service=HBase,name=Thrift,sub=ThriftTwo",
      "attr": [
        "callQueueLen",
        "SlowThriftCall_mean",
        "TimeInQueue_mean",
        "ThriftCall_mean",
        "BatchGet_mean",
        "BatchMutate_mean"
      ],
      "resultAlias": "sdhbase.Thrift.ThriftTwo"
    }
  ]
}