{
  "serverInfo": {
    "port": "KAFKA_JMX_PORT",
    "host": "KAFKA_JMX_HOST"
  },
  "queryInfos": [
    {
      "obj": "\"kafka.log\":type=\"LogFlushStats\",name=\"LogFlushRateAndTimeMs\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.log.LogFlushStats.LogFlush"
    },
    {
      "obj": "\"kafka.server\":type=\"BrokerTopicMetrics\",name=\"AllTopicsBytesInPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsBytesIn"
    },
    {
      "obj": "\"kafka.server\":type=\"BrokerTopicMetrics\",name=\"AllTopicsFailedFetchRequestsPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsFailedFetchRequests"
    },
    {
      "obj": "\"kafka.server\":type=\"BrokerTopicMetrics\",name=\"AllTopicsFailedProduceRequestsPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsFailedProduceRequests"
    },
    {
      "obj": "\"kafka.server\":type=\"BrokerTopicMetrics\",name=\"AllTopicsMessagesInPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsMessagesIn"
    },
    {
      "obj": "\"kafka.server\":type=\"BrokerTopicMetrics\",name=\"AllTopicsBytesOutPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsBytesOut"
    },
    {
      "obj": "\"kafka.server\":type=\"ReplicaManager\",name=\"UnderReplicatedPartitions\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.UnderReplicatedPartitions"
    },
    {
      "obj": "\"kafka.server\":type=\"ReplicaManager\",name=\"PartitionCount\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.PartitionCount"
    },
    {
      "obj": "\"kafka.server\":type=\"ReplicaManager\",name=\"LeaderCount\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.LeaderCount"
    },
    {
      "obj": "\"kafka.server\":type=\"ReplicaManager\",name=\"ISRShrinksPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.ISRShrinks"
    },
    {
      "obj": "\"kafka.server\":type=\"ReplicaManager\",name=\"IsrExpandsPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.ISRExpands"
    },
    {
      "obj": "\"kafka.server\":type=\"ReplicaFetcherManager\",name=\"Replica-MaxLag\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.server.ReplicaFetcherManager.MaxLag"
    },
    {
      "obj": "\"kafka.server\":type=\"ReplicaFetcherManager\",name=\"Replica-MinFetchRate\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.server.ReplicaFetcherManager.MinFetchRate"
    },
    {
      "obj": "\"kafka.server\":type=\"ProducerRequestPurgatory\",name=\"NumDelayedRequests\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.server.ProducerRequestPurgatory.NumDelayedRequests"
    },
    {
      "obj": "\"kafka.server\":type=\"ProducerRequestPurgatory\",name=\"PurgatorySize\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.server.ProducerRequestPurgatory.PurgatorySize"
    },
    {
      "obj": "\"kafka.server\":type=\"FetchRequestPurgatory\",name=\"NumDelayedRequests\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.server.FetchRequestPurgatory.NumDelayedRequests"
    },
    {
      "obj": "\"kafka.server\":type=\"FetchRequestPurgatory\",name=\"PurgatorySize\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.server.FetchRequestPurgatory.PurgatorySize"
    },
    {
      "obj": "\"kafka.network\":type=\"RequestMetrics\",name=\"Produce-RequestsPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.network.RequestMetrics.ProduceRequests"
    },
    {
      "obj": "\"kafka.network\":type=\"RequestMetrics\",name=\"Fetch-Follower-RequestsPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.network.RequestMetrics.FetchFollowerRequests"
    },
    {
      "obj": "\"kafka.network\":type=\"RequestMetrics\",name=\"Fetch-Consumer-RequestsPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.network.RequestMetrics.FetchConsumerRequests"
    },
    {
      "obj": "\"kafka.controller\":type=\"KafkaController\",name=\"ActiveControllerCount\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.controller.KafkaController.ActiveControllerCount"
    },
    {
      "obj": "\"kafka.controller\":type=\"KafkaController\",name=\"OfflinePartitionsCount\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.controller.KafkaController.OfflinePartitionsCount"
    },
    {
      "obj": "\"kafka.controller\":type=\"ControllerStats\",name=\"LeaderElectionRateAndTimeMs\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.controller.ControllerStats.LeaderElection"
    },
    {
      "obj": "\"kafka.controller\":type=\"ControllerStats\",name=\"UncleanLeaderElectionsPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.controller.ControllerStats.UncleanLeaderElection"
    },
    {
      "obj": "\"kafka.consumer\":type=\"ConsumerFetcherManager\",name=\"*-MaxLag\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.consumer.ConsumerFetcherManager.MaxLag"
    },
    {
      "obj": "\"kafka.consumer\":type=\"ConsumerFetcherManager\",name=\"*-MinFetchRate\"",
      "attr": [
        "Value"
      ],
      "resultAlias": "sdkafka.consumer.ConsumerFetcherManager.MinFetchRate"
    },
    {
      "obj": "\"kafka.producer\":type=\"ProducerRequestsMetrics\",name=\"-AllBrokersProducerRequestSize\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.producer.ProducerRequestsMetrics.AllBrokersProducerRequestSize"
    },
    {
      "obj": "\"kafka.producer\":type=\"ProducerRequestsMetrics\",name=\"-AllBrokersProducerRequestRateAndTimeMs\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.producer.ProducerRequestsMetrics.AllBrokersProducerRequestRate"
    },
    {
      "obj": "\"kafka.producer\":type=\"ProducerStats\",name=\"-FailedSendsPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.producer.ProducerStats.FailedSendsPerSec"
    },
    {
      "obj": "\"kafka.producer\":type=\"ProducerTopicMetrics\",name=\"-AllTopicsBytesPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.producer.ProducerTopicMetrics.AllTopicsBytes"
    },
    {
      "obj": "\"kafka.producer\":type=\"ProducerTopicMetrics\",name=\"-AllTopicsDroppedMessagesPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.producer.ProducerTopicMetrics.AllTopicsDroppedMessages"
    },
    {
      "obj": "\"kafka.producer\":type=\"ProducerTopicMetrics\",name=\"-AllTopicsMessagesPerSec\"",
      "attr": [
        "Count"
      ],
      "resultAlias": "sdkafka.producer.ProducerTopicMetrics.AllTopicsMessages"
    }
  ]
}